__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
pip-wheel-metadata/
*.egg-info/
.coverage
.tox
.ipynb_checkpoints
build/
dist/
*.tgz
*.whl
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
CMakeCache.txt
CMakeFiles/
Makefile
install/
bin/
lib/
opencv-python/
opencv/
opencv_contrib/
